<!DOCTYPE html>
<html>

<head>
  <title>EJS compilation demo</title>
  <style></style>
</head>

<body>
  <% const whiskyView=(item, i)=>{ %>
    <tr>
      <td>
        <%= i %>
      </td>
      <td>
        <%= item.product_country_origin_name %>
      </td>
      <td>
        <%= item.product_long_name %>
      </td>
      <td>
        <%= item.product_litres_per_container %>
      </td>
      <td>
        <%= item.product_alcohol_percent %>%
      </td>
      <td>
        $<%= Math.round(item.current_display_price) %>
      </td>
    </tr>
    <% } %>

      <table border="1" style="border-collapse: collapse">
        <tr>
          <td>№</td>
          <td>Country</td>
          <td>Name</td>
          <td>Volume</td>
          <td>Alcohol</td>
          <td>Price</td>
        </tr>
        <% whisky.map(whiskyView) %>
      </table>
</body>

</html>